<div class="wrapper">
    <h1 class="title">Slider Swiper</h1>
    <div class="swiper-container image-slider">
        <div class="swiper-wrapper image-slider__wrapper">
            <div class="swiper-slide image-slider__slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery1.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery2.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery3.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery4.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery5.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery6.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery7.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery8.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery9.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery10.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image">
                    <img src="./images/gallery/gallery11.jpg" alt="gallery-image">
                </div>                
            </div>
            <div class="swiper-slide">
                <div class="image-slider__image"></div>
                <img src="./images/gallery/gallery12.jpg" alt="gallery-image">
            </div>
        </div>
    
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>

